---
layout: default
section_id: home
title: Robin Scheibler

fields:
  - icon: microphone
    title: Audio Array Processing
    desc: High performance algorithms leveraging structural properties of audio signals in reverberant environments.
  - icon: cogs
    title: Theory and Algorithms
    desc: I apply techniques from information theory and theoretical computer science to derive low-complexity algorithms for signal processing.
  - icon: flask
    title: Open and Citizen Science
    desc: Reproducible computations, DIY devices, and citizen measurements of radiation and Arsenic in water.
---

<div class="two spacing"></div>

<div class="row">
  <div class="medium-8 columns">
    <p><b>{{ site.tldr_bio | markdownify }}</b>

    <h4> News: </h4>
    {% for news in site.data.news %}
    <div class='row'>
      <div class='small-2 columns'>
        <b>{{ news.date | date: '%Y-%m-%d' }}</b>
      </div>
      <div class='small-10 columns'>
        {{ news.text | markdownify }}
      </div>
    </div>
    <div class='one spacing'></div>
    {% endfor %}
  </div>
  <div class="medium-4 columns">
    <div id="bio">
      <img src="images/robin_portrait.jpg" class="img-circle"><br>

      <div class='spacing'></div>
      <ul class='socials'>
        {% for social in site.socials %}
        <li>
          <a href={{ social.url }}>
            <i class='fa fa-{{ social.icon }}'></i>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
</div>

<div class="two spacing"></div>

<div class="row">
  {% for field in page.fields %}
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title=field.title desc=field.desc icon_class=field.icon delay='600' shape_class='icon-text-circle' %}
  </div>
  {% endfor %}
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Selected Projects" %}
      <div class="spacing"></div>
      <p>
        A quick tour of some projects representative of my research interests.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in site.projects limit: 8 %}
        <li class="{{ work.klass }}">
          <a href='{{ work.url }}'>
            <img alt="" src="{{ work.images }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.description }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full' style='background: #fafafa'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="My recent posts" %}
      <div class='spacing'></div>
      <p>
      Some random ramblings mostly related to building physical prototypes and tinkering with various things.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog/'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>
