---
layout: default
section_id: home
title: Robin Scheibler

fields:
  - icon: microphone
    title: Computational Acoustics
    desc: High performance algorithms leveraging structural properties of audio signals in reverberant environments.
  - icon: cogs
    title: Theory and Algorithms
    desc: I apply techniques from information theory and theoretical computer science to derive low-complexity algorithms for signal processing.
  - icon: flask
    title: Open and Citizen Science
    desc: DIY devices for the citizen measurements of radiation and Arsenic in water, or for homegrown bacterial cultures.
---

<div class="four spacing"></div>

<div class="row">
  <div class="medium-8 columns">
    <p>
    Robin Scheibler is an engineer focusing on data and signals. His research
    interests have taken him from proving theorems to literally jumping in a
    cold mountain lake to sample its water, checking for the presence of
    arsenic. When he works on a problem, he wants to take it from the idea all
    the way to the implementation into a physical prototype. This aspect of his
    personality had the happy side effect of spawning very interesting
    collaborations across disciplines such as information theory, theoretical
    computer science, embedded systems, biology, and, outside Academia, the
    hacker community at large.

    <p>
    He is currently pursuing a PhD at the Audiovisual Communications Laboratory
    of EPFL under the supervision of Martin Vetterli. He investigates how
    strucutral aspects of sound propagation, the echoes in a room for example,
    can provide more robust and efficient algorithms for problems such as
    beamforming, direction of arrival, or source separation. In a different
    line of work, Robin applies techniques from information theory and
    theoretical computer science to provide low-complexity algorithms for
    signal processing problems.

    <p>
    He received the B.Sc. and M.Sc. in Communications Systems from Ecole
    Polytechnique Fédérale de Lausanne (EPFL) in 2009. Never longer than
    two years at a time in Lausanne, Robin visited Stockholm as an exchange
    student, spent a year at NEC Corporation in Tokyo, and wrote his master
    thesis at IBM Research --- Zürich.

    <p>
    After graduation and spending some more time at IBM, he left Switzerland
    to return to NEC in Tokyo where he worked on speech denoising technology.
    Three months after he arrived, the Great Tohoku Earthquake and Tsunami
    of March 2011 struck and crippled the Fukushima Dai-ichi Nuclear power plant.
    In the wake of the disaster, Robin joined Safecast to develop its first
    mobile radiation sensor system. The system was ultimately used to provide
    the most extensive radiation measurement database available today.

    <p>
    Since September 2012, Robin is back in Lausanne and joined the
    Audiovisual Communications Laboratory, as well as the Biodesign for the
    Real-World project.
  </div>
  <div class="medium-4 columns">
    <div id="bio">
      <img src="images/robin_portrait.jpg" class="img-circle"><br>

      <div class='spacing'></div>
      <ul class='socials'>
        {% for social in site.socials %}
        <li>
          <a href={{ social.url }}>
            <i class='fa fa-{{ social.icon }}'></i>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
</div>

<div class="two spacing"></div>

<div class="row">
  {% for field in page.fields %}
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title=field.title desc=field.desc icon_class=field.icon delay='600' shape_class='icon-text-circle' %}
  </div>
  {% endfor %}
</div>

<div class="spacing"></div>

<div class="full" style="background: #f5f5f5;">
  <div class="row">
    <div class="large-12 columns">
      {% include section-header.html title="Selected Projects" %}
      <div class="spacing"></div>
      <p>
        A quick tour of some projects representative of my research interests.
      </p>
      <div class="three spacing"></div>
    </div>
  </div>

  <div class="mod modGallery">
    <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      {% for work in site.projects limit: 8 %}
        <li class="{{ work.klass }}">
          <a href='{{ work.url }}'>
            <img alt="" src="{{ work.images }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title }}</h3>
                <p>{{ work.description }}</p>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="My recent posts" %}
      <div class='spacing'></div>
      <p>
      Some random ramblings mostly related to building physical prototypes and tinkering with various things.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>
