---
layout: default
title: Portfolio
section_id: portfolio
---


<div class='full parallax' style='background-image: url(images/banner_5.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Portfolio" tagline="Things I made" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='algorithms' href='#'>Algorithms</a>
          </li>
          <li>
            <a data-cat='audio' href='#'>Audio</a>
          </li>
          <li>
            <a data-cat='hardware' href='#'>Hardware</a>
          </li>
          <li>
            <a data-cat='software' href='#'>Software</a>
          </li>
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in site.projects %}
          <li class="{{ work.klass }}">
            <a href='{{ work.url }}'>
              <img alt="" src="{{ work.images }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
