<div class='links'>
  <h3>Archives</h3>
  {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
       {% unless forloop.first %}</ul></div>{% endunless %}
           <div class='links'>
           <h4>{{ currentDate }}</h4>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a href="{{ post.url }}"><span>{{ post.date | date: "%B %-d" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}</ul></div>{% endif %}
   {% endfor %}
</div>
